/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #fff;
  color: #333;
  overflow-x: hidden;
}

/* Navbar */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px ;
  background: #afafaf;
  /* box-shadow: 0 2px 6px rgba(0,0,0,0.05); */
}

.main {
  display: flex;
  flex-direction: column;
  /* padding: 100px; */
  justify-content: center;
  align-items: center;

}

.container {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: start;
  /* height: 100vh; */
  gap: 70px;
  /* background:; */
}

.box {
  width: 100px;
  height: 100px;
  /* background: grey; */
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitName {
  margin-left: 10px;
  padding: 5px 10px;
  background: #d2d0d0;
}